<div class="card column is-three-quarters-mobile is-one-fifth-desktop m-2 mb-4 p-0">
    <div class="media-content has-background-success-dark p-3">
        <h2 class="title is-4 has-text-white">{{ name }}</h2>
        <h3 class="subtitle is-6 has-text-white"><i class="fas fa-user-graduate mr-2"></i>{{ role }}</h3>
    </div>
    <div class="p-3">
        <ul>
            <li class="p-2">ID: {{ id }}</li>
            <li class="p-2">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="p-2">School: {{ school }}</li>
        </ul>
    </div>
</div>
